---
import Layout from "../layouts/Layout.astro";
---

<!doctype html>
<Layout title="Not Found">
  <div class="mx-auto flex min-h-screen w-full max-w-[1100px] flex-col justify-center text-center">
    <h1>Oops!</h1>
    <h2>Not Found!</h2>
    <a href="/" class="text-blast-off block py-3">Go back to the homepage</a>
  </div>
</Layout>
