---
import Layout from "../layouts/Layout.astro";
import Info from "../components/Info";

const title = "Astro Starter";
const text = "Добро пожаловать в ваш новый проект!";
const configName = "no";
const environment = "no";
const apiUrl = "no";
---

<Layout title="Welcome to Astro.">
  <main class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-gray-800 mb-4">{title}</h1>
      <p class="text-xl text-gray-600 mb-4">{text}</p>
      <Info
        config={[
          { name: "configName", value: configName },
          { name: "environment", value: environment },
          { name: "apiUrl", value: apiUrl },
        ]}
      />

      <div class="flex justify-center space-x-4">
        <a
          href="https://docs.astro.build/en/getting-started/"
          target="_blank"
          class="bg-red-500 text-white px-6 py-2 rounded-full hover:bg-red-600 transition duration-300"
          >Документация</a
        >
        <a
          href="https://github.com/ArtNekki/astro-starter.git"
          target="_blank"
          class="bg-gray-800 text-white px-6 py-2 rounded-full hover:bg-gray-900 transition duration-300"
          >GitHub</a
        >
      </div>
    </div>
  </main>
  <router-outlet></router-outlet>
</Layout>
